<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OnlyGigs</title>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
      $( function() { $( "#gig-date" ).datepicker(); } );
    </script>
  </head>
  <body>
    <nav>
      <nav id="nav-bar">
        <a href="/">Home</a>
        {{#if check_user.is_band}}
        <a href="/dashboard">Dashboard</a>
        {{/if}}
        {{#unless logged_in}}
          <a href="/login">Login</a>
        {{else}}
          <a href="#" id="logout">Logout</a>
        {{/unless}}
      </nav>
    </nav>
    <h1>OnlyGigs</h1>
    {{{body}}}
    {{#if logged_in}}
      <p>logged in</p>
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>