<div class="row has-text-centered">
   <h2 class="has-text-centered ">Signup</h2>
  <div class="col-md-6 form login-form field is-grouped is-grouped-centered">
   

    <form class="form signup-form">
      <div>
        <label for="username">Username:</label>
        <input class="form-input input" type="text" id="username">
      </div>
      <div>
        <label for="band-description">Band Description optional:</label>
        <input class="form-input input" type="text" id="band-desc">
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input input" type="password" id="password-signup" />
      </div>
      <div  "form-group control">
        <label class="radio"  for="is-band">is band?</label>
        <input class="form-input radio" checked="true" type="checkbox"  name="answer" id="is-band"/>

      </div>
      <div class="form-group">
        <button class="button has-background-danger-dark has-text-white mt-2" type="submit">signup</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <a href="/login">login instead</a>
  </div>
    <script src="./js/signup.js"></script>