<div class="row">
  <div class="col-md-6">
    <h2>Band Signup</h2>

    <form class="form signup-form" id="band-signup-form">
      <div>
        <label for="band-name">Band Name:</label>
        <input class="form-input" type="text" id="band-signup">
      </div>
      <div>
        <label for="band-description">Band Description:</label>
        <input class="form-input" type="text" id="band-desc">
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="band-email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="band-password-signup" />
      </div>
      <div class="form-group">
        <button id="band-signup-btn" class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

      <h2>User Signup</h2>

    <form class="form signup-form" id="user-signup-form">
      <div>
        <label for="first-name-signup">First Name:</label>
        <input class="form-input" type="text" id="first-name-signup">
      </div>
      <div>
        <label for="last-name-signup">Last Name:</label>
        <input class="form-input" type="text" id="last-name-signup">
      </div>
      <div class="form-group">
        <label for="user-email-signup">Email:</label>
        <input class="form-input" type="text" id="user-email-signup" />
      </div>
      <div class="form-group">
        <label for="user-password-signup">Password:</label>
        <input class="form-input" type="password" id="user-password-signup" />
      </div>
      <div class="form-group">
        <button id="user-signup-btn" class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <a href="/login">login instead</a>

    <script src="./js/signup.js"></script>